<!--Navigation bar with collapsing navigation items on small screens-->
<nav class="navbar fixed-top navbar-expand-lg">
  <div class="container-fluid">
    <div class="navbar-brand" aria-label="Go to home page">
      <img class="w-50" src="Assets/NavbarLogo.png" alt="Colin Candy Logo" />
    </div>
    <button
      class="navbar-toggler"
      type="button"
      id="dropdownMenuButton"
      data-bs-toggle="modal"
      data-bs-target="#navbarModal"
      aria-controls="navbarModal"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <i class="fa-solid fa-list"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="index.html" id="navHome">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="about.html" id="navAbout">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="menu.html" id="navMenu">Menu</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="contact.html" id="navContact">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div
  class="modal fade"
  id="navbarModal"
  tabindex="-1"
  aria-labelledby="navbarModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-fullscreen navbarmodal">
    <div class="modal-content">
      <div class="modal-header">
        <img class="w-50" src="Assets/NavbarLogo.png" alt="Colin Candy Logo" />
        <button
          type="button"
          class="btn-close btn-close-white"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="index.html" id="navHomeModal">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="about.html" id="navAboutModal">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="menu.html" id="navProjectsModal">Menu</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="contact.html" id="navContactModal"
              >Contact</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
