section {
  padding: 60px 20px;
  padding-top: 120px; /* Space for nav */
  overflow: hidden;
}

#hero {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 5%;
  background-color: #1c75bc;
}

#home {
  background-color: #fffffa;
}

.row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.col-sm-6 {
  flex: 1;
  min-width: 300px;
  padding: 20px;
  box-sizing: border-box;
}

.hero-text {
  padding: 20px;
}

.scalable-section {
  padding: 2rem; /* Use rem for scalable padding */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center; /* Center-align text */
  position: absolute;
  z-index: 2;
  border-radius: 1rem;
  animation: fadeInUp 1.5s ease-out;
}

.scalable-section img {
  width: 40%;
  padding-bottom: 2rem;
  height: auto;
  object-fit: cover;
}

#HeroImage {
  width: 100%;
  height: 100%;
  overflow: hidden;
  animation: fadeInUp 1.5s ease-out;
}

#HeroImage img {
  border-radius: 5%;
  width: 80%;
  height: auto;
  object-fit: cover;
}

.cta-button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 1.6rem;
  color: #de49ab;
  background-color: #fffffa;
  border-radius: 50px;
  text-decoration: none;
  text-align: center;
  transition: background-color 0.3s ease;
}

.cta-button:hover {
  box-shadow: 0 0 10px #000000;
  animation: fadeInUp 0.3s forwards;
}

#HeroImage {
  display: flex;
  align-items: center;
  justify-content: center;
}

#HeroImage img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
  animation: fadeIn 1s ease-out;
}

/* Animations */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeInUp {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-5px);
  }
}

/*Header*/
.home-header {
  font-family: "Co Headline";
  font-weight: bold;
  font-style: italic;
  font-size: 3rem;
  padding-bottom: 1%;
  color: #de49ab;
  justify-content: center;
  display: flex;
}

/*Carousal*/
#demo .carousel-item img {
  width: 100%; /* Set the width of the image to 100% */
  height: auto; /* Let the browser calculate the height to maintain aspect ratio */
  max-height: 80vh;
  object-fit: fill;
}

.carousel-control-prev,
.carousel-control-next {
  color: white;
  height: 10vh;
  width: 5%;
  text-align: center;
  margin: auto;
}

.carousel-indicators {
  background-image: none;
  width: 50%;
  margin: auto;
}

/* Media queries for responsiveness */
@media (max-width: 762px) {
  #hero {
    min-height: 80%;
    margin-top: 10%;
  }

  .home-header {
    font-size: 2rem;
  }
}
@media (max-width: 992px) {
  #hero {
    flex-direction: column;
  }

  .scalable-section {
    position: static;
    width: 100%;
    padding: 1rem;
  }

  .scalable-section img {
    width: 100%;
  }

  .cta-button {
    font-size: 1rem;
  }

  #HeroImage img {
    width: 100%;
    height: auto;
  }
}

/* Media queries for responsiveness */
@media (max-width: 1200px) {
  .cta-button {
    font-size: 1.3rem;
  }
}
