@font-face {
  font-family: "Co Headline";
  src: url("../Fonts/Co Headline.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Co Headline";
  src: url("../Fonts/Co Headline bold.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Co Headline";
  src: url("../Fonts/Co Headline Light.otf") format("opentype");
  font-weight: lighter;
  font-style: normal;
}

body,
html {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  background: #fffffa;
  font-family: Arial, sans-serif;
}

.navbar {
  padding: 0;
  margin: 0;
  background-color: #1c75bc;
  height: auto;
}

footer {
  background-color: #1c75bc;
  color: #fffffa;
  display: flex;
  padding: 1rem;
  font-size: 1.2rem;
  justify-content: center;
  text-align: center;
  font-family: "Co Headline";
  font-weight: normal;
}

.fa-brands {
  color: #fffffa;
}

.navbar-brand {
  display: flex; /* Sets the layout to Flexbox */
  align-items: bottom; /* Centers items vertically */
  width: 20%;
}

.navbar-brand img {
  width: 70%;
  height: auto;
}

@media (max-width: 768px) {
  .navbar-brand img {
    min-width: 150%;
    height: auto;
  }
}

#dropdownMenuButton {
  border: none;
  background: none; /* Transparent background */
  color: #fffffa;
}

.navbar-nav {
  margin-left: auto;
}

.nav-link {
  color: #fffffa;
  font-size: 1.6rem;
  font-family: "Co Headline";
  font-weight: lighter;
  font-style: italic;
  margin: 1rem;
}
.nav-link:hover {
  color: #de49ab;
}

/* Modal Styles */
.navbarmodal .modal-content {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1c75bc; /* Dark background */
  color: #fffffa; /* White text color */
}

.navbarmodal .modal-body {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 1rem;
}

.navbarmodal .modal-body ul {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
  text-align: center; /* Center align the list items */
}

.navbarmodal .modal-body ul li a {
  font-size: 1.5rem;
  text-decoration: none;
}

.navbarmodal .modal-header {
  display: flex;
  width: 90%;
  justify-content: flex-end;
  border-bottom: none;
}
